<!DOCTYPE html>
<div th:fragment="adminSidebar">
  <div aria-labelledby="sidebarMenuLabel" class="offcanvas offcanvas-start offcanvas-md" id="sidebarMenu" tabindex="-1">
    <div class="offcanvas-body p-0">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-dark" th:classappend="${#httpServletRequest != null and #httpServletRequest.requestURI == '/'} ? ' active'" th:href="@{/}">
            <i class="bi bi-house-door-fill"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" th:classappend="${#httpServletRequest != null and #httpServletRequest.requestURI == '/manage'} ? ' active'" th:href="@{/manage}">
            <i class="bi bi-gear-fill"></i>
            <span>管理</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" th:classappend="${#httpServletRequest != null and #strings.startsWith(#httpServletRequest.requestURI, '/manage/ip')} ? ' active'" th:href="@{/manage/ip}">
            <i class="bi bi-shield-lock"></i>
            <span>IP管理</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" th:classappend="${#httpServletRequest != null and #strings.startsWith(#httpServletRequest.requestURI, '/manage/ua')} ? ' active'" th:href="@{/manage/ua}">
            <i class="bi bi-terminal"></i>
            <span>User-Agent管理</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
